{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container">
            {% if hasActiveTask %}
                <form action="{{ path('stop') }}" method="POST">
                    <button>STOP</button>
                </form>
            {% else %}
                <form action="{{ path('start') }}" method="POST">
                    <button>START</button>
                </form>
            {% endif %}
        </div>
    </div>
{% endblock %}
